-htitle '提出问题'
  
.page-go-back
  =link_to '返回问题列表', '/questions'
  
.page-new-vote
  = flash.now[:error]
  
  = form_for @question, :url => { :action => "create" } do |f|
    .field
      %label.need 标题
      = f.text_field :title
      
    .field
      %label.need 问题描述
      %textarea{:name=>'question[content]'}
      
    .field
      %a.form-submit-button{:href=>'javascript:;'} 确定提问
    
