/*基础字体设置*/
html {font-size:100.01%;}
body {
  font-size:75%;
  background:#fff;color:#222;
  font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
}

/*各级标题*/
h1,h2,h3,h4,h5,h6{font-weight:normal;}
h1{font-size:2em;margin-bottom:0.5em;}
h2{font-size:1.5em;font-weight:bold;line-height:1.8em;}
h3{font-size:1.2em;font-weight:bold;line-height:2em;}
h4{font-size:1.2em;font-weight:bold;}
h5{font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6{font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

/*文字相关元素标签*/
p {margin:0 0 1em}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}

a:hover {text-decoration:underline;}
a {text-decoration:none;}
a {outline:none;}
a {cursor:pointer;}

blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}

abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}

pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}

/*列表标签*/
li ul, li ol{margin: 0;}
ul, ol{margin:0;}

ul{list-style-type:none;}
ol{list-style-type:decimal;}

dl{margin:0 0 1.5em 0;}
dl dt{font-weight:bold;}
dd{margin-left:1.5em;}

/*表格*/
table {margin-bottom:1.4em;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:0;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}

/*杂项修饰*/
.hide {display:none !important;}

.quiet{color:#999;}

.bold{font-weight:bold;}
.normal{font-weight:normal;}
.textleft{text-align:left;}
.textright{text-align:right;}

.fleft{float:left !important;}
.fright{float:right !important;}

.boxfix{overflow:hidden;}
.wordwrap {word-wrap:break-word;word-break:break-all;-moz-binding:url('wordwrap.xml#wordwrap');overflow:hidden;}