html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

html {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-text-size-adjust: none; }

body {
  line-height: 1.5; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

a img {
  border: none; }

a em {
  font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti; }

/*列表标签*/
li ul, li ol {
  margin: 0; }

ul, ol {
  margin: 0; }

ul {
  list-style-type: none; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }

dl dt {
  font-weight: bold; }

dd {
  margin-left: 1.5em; }

textarea {
  resize: none;
  font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti; }

/*基础字体设置*/
html {
  font-size: 100.01%; }

body {
  font-size: 75%;
  background: #fff;
  color: #222;
  font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti; }

/*各级标题*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 2em;
  margin-bottom: 0.5em; }

h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.8em; }

h3 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 2em; }

h4 {
  font-size: 1.2em;
  font-weight: bold; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/*文字相关元素标签*/
p {
  margin: 0 0 1em; }

p img.left {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0; }

p img.right {
  float: right;
  margin: 1.5em 0 1.5em 1.5em; }

a:hover {
  text-decoration: underline; }

a {
  text-decoration: none; }

a {
  outline: none; }

a {
  cursor: pointer; }

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

strong {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

dfn {
  font-weight: bold; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted #666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666; }

pre {
  margin: 1.5em 0;
  white-space: pre; }

pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/*列表标签*/
li ul, li ol {
  margin: 0; }

ul, ol {
  margin: 0; }

ul {
  list-style-type: none; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }

dl dt {
  font-weight: bold; }

dd {
  margin-left: 1.5em; }

/*表格*/
table {
  margin-bottom: 1.4em; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 0; }

tr.even td {
  background: #e5ecf9; }

tfoot {
  font-style: italic; }

caption {
  background: #eee; }

/*杂项修饰*/
.hide {
  display: none !important; }

.quiet {
  color: #999; }

.bold {
  font-weight: bold; }

.normal {
  font-weight: normal; }

.textleft {
  text-align: left; }

.textright {
  text-align: right; }

.fleft {
  float: left !important; }

.fright {
  float: right !important; }

.boxfix {
  overflow: hidden; }

.wordwrap {
  word-wrap: break-word;
  word-break: break-all;
  -moz-binding: url("wordwrap.xml#wordwrap");
  overflow: hidden; }

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-size: 12px;
  color: #404040; }
  body .page-header {
    background: -moz-linear-gradient(-90deg, #1c8fdf, #1c86d1);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#1c8fdf), to(#1c86d1));
    box-shadow: 0 0 5px black inset;
    height: 60px;
    line-height: 60px;
    overflow: hidden; }
    body .page-header .title {
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding: 0 40px;
      text-shadow: 1px 1px 2px black;
      float: left; }
    body .page-header .current-user, body .page-header .logout {
      float: left;
      margin-left: 40px;
      color: white;
      font-weight: bold;
      text-shadow: 1px 1px 2px black; }
      body .page-header .current-user a, body .page-header .logout a {
        color: white !important; }
  body .page-content {
    width: 960px;
    margin: 20px 40px; }
    body .page-content table {
      border-spacing: 0;
      border-collapse: collapse;
      margin: 0 0 20px 0; }
      body .page-content table thead {
        background-color: #EFEFEF; }
        body .page-content table thead th {
          border: solid 1px #ccc;
          padding: 6px;
          color: #666; }
      body .page-content table tbody {
        background-color: #fff; }
        body .page-content table tbody td {
          border: solid 1px #ccc;
          padding: 6px 10px; }
          body .page-content table tbody td.running {
            background-color: #F5FFD6;
            color: #657F12; }
          body .page-content table tbody td.closed {
            background-color: #FFE0D6;
            color: #C7441C; }
  body a {
    color: #006699; }
    body a:hover {
      color: #993300; }

.page-login form .field, .page-signup form .field {
  margin-bottom: 10px;
  overflow: hidden; }
  .page-login form .field label, .page-signup form .field label {
    display: block;
    line-height: 20px;
    height: 20px;
    margin-bottom: 5px; }
    .page-login form .field label.need::after, .page-signup form .field label.need::after {
      content: "*";
      color: red;
      padding-left: 5px; }
  .page-login form .field input[type=text], .page-signup form .field input[type=text], .page-login form .field input[type=password], .page-signup form .field input[type=password] {
    border: solid #CCCCCC 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    font-size: 12px;
    line-height: 30px;
    padding: 0 4px;
    width: 200px;
    height: 30px; }
    .page-login form .field input[type=text]:focus, .page-signup form .field input[type=text]:focus, .page-login form .field input[type=password]:focus, .page-signup form .field input[type=password]:focus {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
      border: solid 1px rgba(82, 168, 236, 0.8); }
  .page-login form .field a.form-submit-button, .page-signup form .field a.form-submit-button {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -moz-linear-gradient(-90deg, #dd4b39, #c53727);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#dd4b39), to(#c53727));
    border: 1px solid #b0281a;
    color: white;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    display: block;
    float: left; }
    .page-login form .field a.form-submit-button:hover, .page-signup form .field a.form-submit-button:hover {
      color: white;
      background: -moz-linear-gradient(-90deg, #db3f2c, #b83324);
      background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#db3f2c), to(#b83324));
      border-color: #952216;
      text-decoration: none; }

.page-auth-intro {
  margin: 20px 0; }
  .page-auth-intro .p {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #eee; }

.page-go-back {
  line-height: 32px;
  height: 32px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #eee; }

.page-questions-nav {
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #eee; }
  .page-questions-nav .item {
    float: left;
    height: 32px;
    line-height: 32px;
    margin-right: 5px;
    font-size: 14px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #f4f4f4;
    border: solid 1px #ddd;
    padding: 0 8px; }
    .page-questions-nav .item.at-here {
      background-color: #222;
      border-color: #333; }
      .page-questions-nav .item.at-here a {
        color: white !important; }

.page-new-vote form .field {
  margin-bottom: 10px; }
  .page-new-vote form .field label {
    display: block;
    line-height: 20px;
    height: 20px;
    margin-bottom: 5px; }
    .page-new-vote form .field label.need::after {
      content: "*";
      color: red;
      padding-left: 5px; }
  .page-new-vote form .field input[type=text], .page-new-vote form .field input[type=password] {
    border: solid #CCCCCC 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    font-size: 12px;
    line-height: 30px;
    padding: 0 4px;
    width: 200px;
    height: 30px; }
    .page-new-vote form .field input[type=text]:focus, .page-new-vote form .field input[type=password]:focus {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
      border: solid 1px rgba(82, 168, 236, 0.8); }
  .page-new-vote form .field textarea {
    border: solid #CCCCCC 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    font-size: 12px;
    line-height: 20px;
    padding: 4px;
    width: 250px;
    height: 100px; }
    .page-new-vote form .field textarea:focus {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
      border: solid 1px rgba(82, 168, 236, 0.8); }
  .page-new-vote form .field .form-submit-button {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -moz-linear-gradient(-90deg, #dd4b39, #c53727);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#dd4b39), to(#c53727));
    border: 1px solid #b0281a;
    color: white;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    display: block;
    float: left; }
    .page-new-vote form .field .form-submit-button:hover {
      color: white;
      background: -moz-linear-gradient(-90deg, #db3f2c, #b83324);
      background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#db3f2c), to(#b83324));
      border-color: #952216;
      text-decoration: none; }

.page-questions .question {
  padding: 10px;
  border-bottom: dashed 1px #ccc; }
  .page-questions .question .title {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px; }
  .page-questions .question .meta {
    overflow: hidden; }
    .page-questions .question .meta .creator, .page-questions .question .meta .answers-count, .page-questions .question .meta .time {
      color: #999;
      float: left;
      margin-right: 10px; }

.page-question-show .question {
  padding-left: 60px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 2px #ccc;
  overflow: hidden; }
  .page-question-show .question .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px; }
  .page-question-show .question .ct {
    font-size: 14px; }
  .page-question-show .question .meta {
    float: right;
    overflow: hidden; }
    .page-question-show .question .meta .creator {
      color: #999;
      float: left;
      margin-right: 10px; }
    .page-question-show .question .meta .time {
      color: #999;
      float: left; }
  .page-question-show .question .comments {
    clear: both;
    margin-top: 30px;
    font-size: 12px; }
    .page-question-show .question .comments .comment {
      border-top: dashed 1px #ddd;
      line-height: 20px;
      padding: 5px 8px;
      font-size: 12px;
      color: #666;
      background-color: #fafafa; }
    .page-question-show .question .comments .form {
      margin-top: 10px; }
      .page-question-show .question .comments .form label {
        display: block; }
      .page-question-show .question .comments .form textarea {
        border: solid #CCCCCC 1px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
        font-size: 12px;
        line-height: 20px;
        padding: 4px;
        width: 300px;
        height: 80px; }
        .page-question-show .question .comments .form textarea:focus {
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
          border: solid 1px rgba(82, 168, 236, 0.8); }
      .page-question-show .question .comments .form .form-submit-button {
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: -moz-linear-gradient(-90deg, #dd4b39, #c53727);
        background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#dd4b39), to(#c53727));
        border: 1px solid #b0281a;
        color: white;
        height: 24px;
        line-height: 24px;
        padding: 0 10px;
        display: block;
        float: left; }
        .page-question-show .question .comments .form .form-submit-button:hover {
          color: white;
          background: -moz-linear-gradient(-90deg, #db3f2c, #b83324);
          background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#db3f2c), to(#b83324));
          border-color: #952216;
          text-decoration: none; }
.page-question-show .answers .answer {
  padding-left: 60px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ddd;
  min-height: 80px;
  position: relative; }
  .page-question-show .answers .answer .ct {
    font-size: 14px; }
  .page-question-show .answers .answer .meta {
    float: right;
    overflow: hidden; }
    .page-question-show .answers .answer .meta .creator {
      color: #999;
      float: left;
      margin-right: 10px; }
    .page-question-show .answers .answer .meta .time {
      color: #999;
      float: left; }
  .page-question-show .answers .answer .ops {
    position: absolute;
    left: 5px;
    top: 5px; }
    .page-question-show .answers .answer .ops .sum {
      margin-top: 5px;
      margin-bottom: 5px;
      width: 20px;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      position: relative;
      overflow: visible; }
      .page-question-show .answers .answer .ops .sum .ani {
        font-size: 24px;
        font-weight: bold;
        position: absolute;
        font-family: tahoma,arial;
        text-shadow: 0 0 2px white;
        line-height: 30px;
        height: 30px; }
    .page-question-show .answers .answer .ops .vote-up, .page-question-show .answers .answer .ops .vote-down {
      font-size: 0;
      line-height: 20em;
      overflow: hidden;
      display: block;
      height: 20px;
      width: 20px; }
    .page-question-show .answers .answer .ops .vote-up::before {
      content: '';
      display: block;
      border-bottom: solid 10px black;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
      border-top: solid 10px transparent; }
    .page-question-show .answers .answer .ops .vote-down::before {
      content: '';
      display: block;
      border-top: solid 10px black;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
      border-bottom: solid 10px transparent; }
  .page-question-show .answers .answer .comments {
    clear: both;
    margin-top: 30px;
    font-size: 12px; }
    .page-question-show .answers .answer .comments .comment {
      border-top: dashed 1px #ddd;
      line-height: 20px;
      padding: 5px 8px;
      font-size: 12px;
      color: #666;
      background-color: #fafafa; }
    .page-question-show .answers .answer .comments .form {
      margin-top: 10px; }
      .page-question-show .answers .answer .comments .form label {
        display: block; }
      .page-question-show .answers .answer .comments .form textarea {
        border: solid #CCCCCC 1px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
        font-size: 12px;
        line-height: 20px;
        padding: 4px;
        width: 300px;
        height: 80px; }
        .page-question-show .answers .answer .comments .form textarea:focus {
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
          border: solid 1px rgba(82, 168, 236, 0.8); }
      .page-question-show .answers .answer .comments .form .form-submit-button {
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: -moz-linear-gradient(-90deg, #dd4b39, #c53727);
        background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#dd4b39), to(#c53727));
        border: 1px solid #b0281a;
        color: white;
        height: 24px;
        line-height: 24px;
        padding: 0 10px;
        display: block;
        float: left; }
        .page-question-show .answers .answer .comments .form .form-submit-button:hover {
          color: white;
          background: -moz-linear-gradient(-90deg, #db3f2c, #b83324);
          background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#db3f2c), to(#b83324));
          border-color: #952216;
          text-decoration: none; }
.page-question-show .answer-form {
  padding-left: 60px; }
  .page-question-show .answer-form .field {
    margin-bottom: 10px; }
    .page-question-show .answer-form .field label {
      display: block;
      line-height: 20px;
      height: 20px;
      margin-bottom: 5px; }
      .page-question-show .answer-form .field label.need::after {
        content: "*";
        color: red;
        padding-left: 5px; }
    .page-question-show .answer-form .field textarea {
      border: solid #CCCCCC 1px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
      font-size: 12px;
      line-height: 20px;
      padding: 4px;
      width: 350px;
      height: 100px; }
      .page-question-show .answer-form .field textarea:focus {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        border: solid 1px rgba(82, 168, 236, 0.8); }
    .page-question-show .answer-form .field .form-submit-button {
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      background: -moz-linear-gradient(-90deg, #dd4b39, #c53727);
      background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#dd4b39), to(#c53727));
      border: 1px solid #b0281a;
      color: white;
      height: 24px;
      line-height: 24px;
      padding: 0 10px;
      display: block;
      float: left; }
      .page-question-show .answer-form .field .form-submit-button:hover {
        color: white;
        background: -moz-linear-gradient(-90deg, #db3f2c, #b83324);
        background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#db3f2c), to(#b83324));
        border-color: #952216;
        text-decoration: none; }
